/* 比较好的通用字体策略 */
body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

/* css字体属性缩写 */
.font-rank {
  font: font-style font-variant font-weight font-size line-height font-faimily;
}

/* 自定义文本选择的高亮 */
::selection {
  background: skyblue;
}

/* 全屏背景 */
html {
  background: url('images/bg.jpg') no-repeat center center fixed;
}

/* 内容垂直居中 */
.container {
  min-height: 6.5em;
  display: table-cell;
  vertical-align: middle;
}

/* 强制垂直滚动条 */
html {
  height: 101%;
}

/* 禁止自动换行 */
.nowrap {
  white-space: nowrap;
}

/* 文本溢出显示省略号-单行 */
.content-ellipsis {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 文本溢出显示省略号-多行 */
.content-ellipsis-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

/* todo-垂直居中的几种情况，外层container, 内层box */
/* 1 定宽高1，absolute + 负 margin */
.container {
  position: relative;
}
.box {
  position: absolute;;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

/* 1 定宽高2，absolute + margin auto */
.container {
  position: relative;
}
.box {
  position: absolute;;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* 1 定宽高3，absolute + calc */
.container {
  position: relative;
}
.box {
  position: absolute;;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}


/* css画三角形 */
.triangle {
  border-color: transparent transparent lightblue transparent;
  border-style: solid;
  border-width: 0px 300px 300px 300px;
  height: 0px;
  width: 0px;
}

/*
  自定义滚动条样式
  ::-webkit-scrollbar 滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等。
  ::-webkit-scrollbar-button 滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。
  ::-webkit-scrollbar-track 外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。
  ::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分（除去）。
  ::-webkit-scrollbar-thumb 滚动条里面可以拖动的那部分
  ::-webkit-scrollbar-corner 边角
  ::-webkit-resizer 定义右下角拖动块的样式
 */

.aticle-wrap {
  height: 100%;
  overflow: auto;
}

.aticle-wrap::-webkit-scrollbar {
  width: 5px;
}

.aticle-wrap::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.aticle-wrap::-webkit-scrollbar-track-piece {
  background-color: purple;
}

.aticle-wrap::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: purple;
}

.aticle-wrap::-webkit-scrollbar-button {
  display: none;
}

.aticle-wrap::-webkit-scrollbar-corner {
  background-color: purple;
}

.aticle-wrap::-webkit-resizer {
  background-color: purple;
}

/* 毛玻璃效果 */
/* container 背景图层，content 内容图层，content::before 模糊层 */
.container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(./xxx.jpg);
  background-position: center top;
  background-size: cover;
}

.content {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 2;
  padding: 50px;
  box-sizing: border-box;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
  z-index: -3;
  margin: -30px;
  background-image: url(./xxx.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

/* 国难纪念日置灰效果 */
html {
  filter: grayscale(1);
}

/* 打印自动显示超链接URI */
@media print {
  a:after {
    content: '["attr(href)"]';
  }
}

/* 移动端-禁止用户选中 */
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* 禁用输入框、文本框的轮廓线 */
input,
textarea {
  outline: none;
}

/* 禁用文本框缩放 */
textarea {
  resize: none;
}

/* 移动端全局滚动具有平滑效果，锚点跳转、设置scrollTop 平滑滚动 */
html {
  scroll-behavior: smooth;
}

/* 解决iOS设备局部滚动不顺畅(粘手) */
#app {
  -webkit-overflow-scrolling: touch;
}

/* 阻止滚动传播 */
.box {
  overscroll-behavior: contain;
}

/* 滚动结束后，强制滚动到指定元素 */
ul {
  scroll-snap-type: x mandatory;
}

ul li {
  scroll-snap-align: start;
}

/* 滚动相关的更新，参考 https://mp.weixin.qq.com/s/tkX-F5cQHaBP15oCJ2BJZw 写得非常实用 */
